@charset "utf-8";
/* Por mi Barrio - Custom Styles*/

body, h1, h2, h3, h4, h5, h6, p, form{
	margin:0;
}

ul{
	padding:0;
	margin:0;
	list-style-type:none;	
}

body{
	font-family: 'Source Sans Pro', sans-serif;
	overflow:hidden;
	font-size:16px;
	position: absolute;
	height: 100%;
	width: 100%;
}

body.fullwidthpage{
	width: 100%;
	background: url("images/bg/bg-intro.jpg") no-repeat scroll center top / cover rgba(0, 0, 0, 0);
	color: white;
}
a, button, div.it-r {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}
a.btn, a.btn:visited{
	color: white;
}

* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box
}

.container{
	height: 100%;
	background:url(images/bg/bg-intro.jpg) no-repeat center top;
	background-size: cover;
	width: 100%;
	overflow: auto;
}

.content-horizontal{
	padding: 20px 39px 20px 120px;
}

div#fms_pan_zoom.pan-horizontal div{
	top: 6.75em !important;
}

.content-vertical{
	padding-top: 120px;
	padding-left: 20px;
	padding-right: 20px;
}
.content-aside{
	padding-left: 200px;
}
/*PAGE INTRO--------------------------------------*/

html {
  position: relative;
  min-height: 100%;
}


body.intro {
  overflow:auto;
  height: inherit;
}

div.c-intro{
	z-index:2;
	position:relative;
	width:100%;
	max-width:940px;
	margin:0 auto;
	text-align:center;
	color:#fff;
	padding-top:6rem;
	/*padding-left:15px;
	padding-right:15px*/
}

div.c-intro h2{
	font-weight:300;
	font-size:3.375em;
	margin: 4rem 0 0 0; 	
}

div.c-intro p{
	font-size:1.125em;
	max-width:740px;
	margin:0 auto;
	line-height:1.44444em;
	margin-top: 1.5rem;
}

div.steps{
	margin-top: 6rem;
}

div.step{
	width:33.3333%;
	float:left;
	min-width:276px;
	text-align:center	
}

div.step h3{
	font-size:1.125em;
	font-weight:400;
	line-height:1.44444em;
	margin-top: 13px;}

div.c-buttons-intro{
	margin-top: 7rem;}

.footer-intro {
  width: 100%;
  text-align:center;
  z-index:2;
  font-size:0.875em;
  color:#fff;
  margin-top:60px;
  padding-bottom:20px
}

a.know-more{
	display:block;
	margin:23px 0 4px 0;
	color:#fff	
}

a.know-more:hover{
	text-decoration:none;
	opacity:0.9;
}

p.photo-credit{
	opacity:0.2;
}

/*FIRST NAVIGATION------------------------------------*/
nav.first-navigation{
	background-color:#1e2e3d;
	position:fixed;
	top:0;
	left:0;
	height:100%;
	z-index:10000;
	padding:0 8px;
	width:81px;
	-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition:         all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav.first-navigation:hover{
	width:183px;
	-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition:         all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

nav.first-navigation li{
	text-align:center;
	margin-bottom:1px
}

nav.first-navigation:hover li a{
	padding:15px 25px 0 61px;
	text-indent:inherit;
	width:auto;
}

nav.first-navigation li a{
	display:block;
	text-indent:-99999em;
	height:55px;
	border-radius:5px;
	padding:15px 45px 0 20px;
	color:#fff;
	text-transform:uppercase;
	font-size:1.125em;
	text-align:left;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

nav.first-navigation li a:hover{
	text-decoration:none;	
}

nav.first-navigation li a span{
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	opacity:0;
}

nav.first-navigation:hover li a span{
	-webkit-transition: all .9s ease;
	-moz-transition: all .9s ease;
	transition: all .9s ease;
	opacity:1
}

nav.first-navigation li.home a{
	width:100%;
	background:url(images/por-mi-barrio-sm.png) no-repeat top center;
	margin-top:46px;
	text-indent:-9999em;
	text-align:center;
	padding:0;
	display:block;
	height:105px;
	border:#1e2e3d solid 1px;
}

nav.first-navigation li.home a span{
	width:108px;
	height:31px;
	background:url(images/bg/bg-span-pmb.png) no-repeat center top;
	margin:65px auto 0;
	-webkit-transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition:         all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
	opacity:0;
	display:block
}

nav.first-navigation:hover li.home a span{
	-webkit-transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition:         all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
	opacity:1;
}

li.reportar{
	margin-top:60px;
}

li.reportar a{
	background:#fc4349 url(images/icon-report.png) no-repeat 20px center;
}

li.reportes a{
	/*border-bottom:#2c3e50 solid 1px;*/
	height:55px;
	background:url(images/icon-reportes.png) no-repeat 20px center;	
}

li.reportes a:hover, li.help a:hover, li.doc-info a:hover{
	background-color:#131e29;
}

li.help a{
	background:url(images/icon-help.png) no-repeat 20px center;
}

li.doc-info a{
       background: url(images/icon-data-info.png) no-repeat 20px center;
}

nav.first-navigation li.profile a{
	display:block;
	width:35px;
	height:35px;
	text-indent:inherit;
	padding-left:15px	
}

nav.first-navigation:hover li.profile a{
	padding-left:15px	
}

nav.first-navigation li.profile a img{
	float:left;
	margin-right:9px;
}

/*Help info*/
ul.help-info{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	width:54px;
}

ul.help-info li a{
	/*text-indent:-99999em!important;*/
	padding-left:35px;
}

li.data a{
	/*border-top:#2c3e50 solid 1px;*/
	background:url(images/icon-data.png) no-repeat center 10px;	
}

li.my-society a{
	background:url(images/icon-my-society.png.png) no-repeat center 18px
}

li.avina a{
	background:url(images/avina-americas6.png) no-repeat center 18px
}

/*SECOND NAVIGATION---------------------------------------------------*/
/*nav.second-navigation{
	background-color:#1e2e3d;
	width:193px;
	position:absolute;
	top:0;
	left:70px;
	height:100%;
	z-index:80;
}

ul.second li{
	
}

ul.second li.pmb{
	background:url(images/PMB.png) no-repeat center top;
	height:104px;
	margin:46px 0 49px 0;
	text-indent:-999em;
}

ul.second li a{
	display:block;
	padding:19px 0 16px 64px;
	text-transform:uppercase;
	color:#f6f8fc;
	text-decoration:none;
	font-weight:600
}

li.s-reportar a{
	background:#fc4349 url(images/icon-report.png) no-repeat 22px 12px;
}

li.s-reports a{
	border-bottom:#2c3e50 solid 1px;
	background:url(images/icon-reportes.png) no-repeat 22px 18px;
}

li.s-reports a:hover, li.s-help a:hover{
	background-color:#131e29	
}

li.s-help a{
	background:url(images/icon-help.png) no-repeat 22px 15px;
}
*/

/*THIRD LEVEL--------------------------------------------------------------*/
div.sub{
	position:absolute;
	width:440px;
	height:100%;
	top:0;
	left:81px;
	-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition:         all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	opacity:1;
}

div.open-side{
	left:183px;
	-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition:         all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275); 
	opacity:1!important;
	z-index:1000;
}

div.side-active{
	left:183px;
	-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition:         all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275); 
	opacity:1!important
}

div.reportes{
	background: rgba(255,255,255,0.95);
	height:100%;
	overflow:hidden;
}

div.ir{
	border-bottom:#ebebeb solid 1px;
}

div.ir h2{
	font-size:2.375em;
	font-weight:300;
	color:#2c3e50;	
}

div.ir p{
	color:#7d7d7d;
	font-size:1.125em;
	margin-top:10px;
	line-height:24px;	
}

div.it-r{
	background-color:#f8f8f8;
	border-bottom:#ebebeb solid 1px;
	padding:30px 40px;
	overflow:auto;
	cursor:pointer
}

div.c-t {
    padding: 55px 40px 25px;
}

div.it-r:hover, div.rl div.active{
	background-color:#fff;
}

div.r-icon{
	width:60px;
	height:60px;
	float:left;
	margin-right:19px	
}

div.it-r-info{
	float:left	
}

div.it-r h3{
	text-transform:uppercase;
	font-weight:600;
	font-size:0.875em;
}

div.it-r p{
	font-size:1.125em;
	color:#000
}

div.it-r ul li{
	font-size:0.875em;
	color:#7d7d7d;
	font-style:italic;
	font-weight:400;
	float:left;
	margin-right:7px;
}

div.it-r ul li span{
	display:block;
	float:left
}

div.it-r ul li.icon-solved span{
	background:url(images/icon-resuelto.png) no-repeat left top;
	width:20px;
	height:16px;
	margin-top:2px
}

div.it-r ul li.icon-camera span{
	background:url(images/icon-camera.png) no-repeat left top;
	width:20px;
	height:16px;
	margin-top:2px
}

div.it-r ul li.icon-comments span{
	background:url(images/icon-comments.png) no-repeat left top;
	width:18px;
	height:16px;
	margin-top:2px
}

div.it-r ul li.icon-tags span{
	background:url(images/icon-tags.png) no-repeat left top;
	width:16px;
	height:16px;
	margin-top:2px
}


/*Arbolado*/
div.r-category-group-1, 
div.r-category-group-39{
	background:url(images/r-arbolado.png) no-repeat left top;	
}
h3.r-category-group-1, 
h3.r-category-group-39{
	color:#3b8686;
}

/*Saneamiento*/
div.r-category-group-37{
	background:url(images/r-saneamiento.png) no-repeat left top;	
}
h3.r-category-group-37{
	color: #c3c7c8;	
}

/*Basura*/
div.r-category-group-18,
div.r-category-group-38,
div.r-category-group-40 {
	background:url(images/r-basura.png) no-repeat left top;	
}
h3.r-category-group-18,
h3.r-category-group-38,
h3.r-category-group-40{
	color: #a40301;	
}

/*Barometrica*/
div.r-barometrica, div.r-category-group-3 {
	background:url(images/r-barometrica.png) no-repeat left top;	
}
h3.barometrica{
	color:#d9cf48;
}

/*Vereda*/
div.r-vereda, div.r-category-group-8 {
	background:url(images/r-vereda.png) no-repeat left top;	
}
h3.vereda{
	color:#d7dadb;
}

/*Desarrollo*/
div.r-category-group-36{
	background:url(images/r-basura.png) no-repeat left top;	
}
h3.r-category-group-36{
	color:#f47026;
}


/*MAP-------------------------------------------------------------------------------*/
div.map{
	width:100%;
	height:100%;
	position:absolute
}

/*CONTENT REPORT-------------------------------------------------------------------*/
div.c-report{
	position:absolute;
	width:100%;
	height:100%;
	z-index:10;
	display:block
	-webkit-transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition:         all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
	padding-bottom:50px;
}

div.container-report{
	margin-left:135px;
	height:100%;
	position:relative;
}

div.report{
	border-radius: 5px;
    height: 100%;
    left: 290px;
    margin-left: -290px;
    position: absolute;
    top: 10%;
    width: 580px;
    opacity:1;
	overflow:hidden;
	-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition:         all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

div.report-medium{
	left:392px;	
	-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition:         all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

div.image-report{
	position:relative	
}

a.btn-close-report{
	position:absolute;
	right:30px;
	top:20px;
	font-weight:600;
	text-transform:uppercase;
	color:#fff;
	font-size:0.875em;
	background:rgba(0,0,0,0.3);
	padding:2px 10px	
}

a.btn-close-report:hover{
	background:rgba(0,0,0,0.5);
	text-decoration:none
}

div.report .img-top{
	width:100%;
	height:auto;
	margin-bottom:-4px;
	/*max-height: 300px;*/
}

div.info-report{
	background-color:#fff;	
}

div.intro-report{
	padding:30px 40px;
	overflow:auto;
	color:#7d7d7d;
}

div.intro-report h3{
	font-size:2.37625em;
	margin:0;
	font-weight:normal;
	color:#000;
	width: 86%;
}

div.intro-report address{
	font-size:14px;
	background:url(images/pin-address.png) no-repeat left top;
	padding:2px 0 2px 26px;
	font-style:normal;	
}

div.intro-report p{
	font-size:1.125em;
	line-height:1.5em;
	margin:0;
	padding:15px 0;	
}

a.btn-close-report {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 0.875em;
    font-weight: 600;
    padding: 2px 10px;
    position: absolute;
    right: 30px;
    text-transform: uppercase;
    top: 20px;
}

div.sign{
	margin-top:10px;
}

div.sign div.picture{
	float:left;
	padding-right:15px;
	background-color:#fff
}

div.sign div.author{
	border-top:#ebebeb solid 1px;
	margin-top:2px;
	padding-top:4px;
}

div.author span a{
	color:#252525	
}

div.author span a:hover{
	text-decoration:none;
	color:#3e3e3e;	
}

div.author span{
	color:#7d7d7d;
	font-size:15px;
}

span.sign, span.time-report{
	font-size:0.875em;
	font-style:italic;
	color:#7d7d7d	
}

span.sign{
	float:left;
	margin-top:10px;	
}

span.sign a{
	color:#252525;
	text-decoration:none	
}

div.status-report{
	background-color:#fbfbfb;
	padding:20px 40px;
	border-top:#ebebeb solid 1px;
	border-bottom:#ebebeb solid 1px;
}

span.status-report-im{
	color: #7d7d7d;
    font-size: 0.875em;
    font-style: italic;
}

div.status-report h4, div.comment-reports h3{
	text-transform:uppercase;
	color:#fc4349;
	font-weight:600;
	font-size:0.875em;	
}

div.comment-reports h3 {
    padding: 20px 0 0 40px;
}

div.status-report ul{
	margin-top:5px;	
}

div.status-report li{
	padding:10px 0;
	font-size:1em;
	border-bottom:#ebebeb solid 1px;	
	color:#7d7d7d;
	font-size:1em;
	line-height:1.4375em;
}

div.status-report li:before{
	content:"\2022";
	color:#2c3e50;
	margin-right:3px	
}

div.status-report li:last-child{
	border-bottom:none;
	padding-bottom:0	
}

div.status-report li span{
	float:right;
	color:#7d7d7d	
}

div.comment{
	padding:25px 40px;
	overflow:auto;
	border-bottom:#ebebeb solid 1px
}

div.user-avatar{
	float:left;
	width:60px;
	height:60px;
	border-radius:100px;
	margin-right:20px;	
}

div.user-avatar img{
	max-width:100%;
	height:auto;
}

div.user-info form textarea, div.user-info .form-control {
    background-color: #fafafa;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    color: #464646;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 14px;
    height: 65px;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}

div.user-info .form-control {
    height: 39px;
}

#form_photo {
	background-color: inherit;
    border: medium none;
    color: #7d7d7d;
    font-size: 14px;
    font-style: italic;
    height: auto;
    margin-bottom: 0;
    padding: 0;
}
div.user-info form textarea{
	border:#d3d3d3 solid 1px;
	background-color:#fafafa;
	border-radius:5px;
	padding:10px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:14px;
	width:397px;
	color:#464646;
	width:84%;
	height:45px;	
}

.form-group label {
    color: #758a9d;
    font-size: 1.375em;
    font-weight: 400;
}

div.user-info div.checkbox label {
    color: #7d7d7d;
    display: inline;
    font-size: 1em;
}

div.user-comment .btn-disabled{
	background-color:#58bef7;	
}

div.user-info form textarea::-webkit-input-placeholder { color: #7d7d7d; font-style:italic}

div.user-info h4{
	font-size:1.375em;
	color:#000;
	font-weight:normal;
	margin:5px 0 0 0	
}

div.user-comment{
	clear:both;
	padding:15px 0 0 0
}

div.user-comment p{
	color:#7d7d7d;
	font-size:1em;
	line-height:1.4375em	
}

div.comment-user{
	border-bottom: medium none;
	padding-bottom: 5px;	
}

div.comments-user-info {
    float: left;
    margin-top: 3px;
    overflow: auto;
    padding-bottom: 50px;
    width: 84%;
}

div.imm-comment{
	background-color:#fbfbfb;	
}

div.user-picture{
	margin-top:15px;
	border-radius:5px;
	overflow:hidden	
}

div.actions {
    margin-bottom: 20px;
    padding: 20px 40px;
}

div.actions ul li {
    float: left;
    margin-right: 20px;
}

div.actions li a {
    color: #7d7d7d;
    font-size: 15px;
    padding: 0 0 5px 27px;
}

a.follow-report{
	background:url(images/icon-follow.png) no-repeat left top
}

a.follow-report:active{
	background:url(images/icon-follow-active.png) no-repeat left top;
	color:#1fb384!important;
}

a.reportar-abuso{
	background: url(images/icon-abuse.png) no-repeat left top
}

a.reportar-abuso:active{
	background: url(images/icon-abuse-active.png) no-repeat left top;
	color:#fc4349!important
}

div.actions ul li a:hover{
	text-decoration:none;
}

div.share {
    clear: both;
    float: left;
    margin-top: 10px;
}

div.actions li.share {
	width: 20%;
	float: right;
	margin: 0;
}
div.actions li.share a{
	float: right;
    padding: 0;
}
div#twitter-share{
	float: left;
}
div#facebook-share{
	float: right;
}
/*INGRESAR UN REPORTE-----------------------------------------------------------------------------*/
div.new-report{
	color:#758a9d;
}

div.new-report .ir{
	border:none;	
}

div.new-report .ir h2{
	color:#fff;	
}

div.new-report .ir p{
	color:#758a9d;
}

div.c-form-report, div.login{
	padding:30px 40px;
	/*background:rgba(19,30,41,0.9)*/
}

div.c-scroll-reportar{
	height:100%;
	background:rgba(19,30,41,0.9);
}

div.c-form-report div.ir{
	padding:0;
	margin-bottom:20px	
}

.form-group{
	margin-bottom:30px;	
}

.form-group label{
	color:#758a9d;
	font-size:1.375em;
	font-weight:400
}

.form-group label.active{
	color:#fff;	
}

.form-group input, .form-group textarea, .form-group select{
	border-radius:3px;
	width:100%;
	display:block;
	background:none;
	border:#758a9d solid 1px;
	padding: 7px 12px;
	line-height: 1.42857143;
	margin-bottom:10px;
	color:#758a9d;
	font-size:1em;
	height:39px;
	background:rgba(30,46,61,0.2);
}

.form-group textarea{
	height:auto;	
}

.form-group select option{
	padding:5px 10px;
	background-color:#1e2e3d;
	color:#758a9d	
}

.form-group select option:hover{
	background-color:#1e2e3d;
}

.form-group input:focus, .form-group textarea:focus, .form-group select:focus{
	border-color: #fff!important;
	background-color:#1e2e3d;
    outline: 0;
	color:#fff;
    outline: thin dotted \9;
   /* -moz-box-shadow: 0 0 8px rgba(215,215,215,.6);
    box-shadow: 0 0 8px rgba(215,215,215,.6) !important;*/
	box-shadow:none
}

.form-control::-webkit-input-placeholder { color: #758a9d;}

div.drag{
	border-radius:5px;
	border:#65788a dashed 1px;
	text-align:center;
	padding:20px;
	cursor:pointer	
}

div.drag span{
	font-size:1em;	
}

.help-block{
	font-size:0.875em;
	color:#758a9d;	
}

/*BUTTONS----------------------------------------------------------*/

.btn-block{
	width:100%;
	text-align:center;
	display:block	
}

.btn{
	border-radius:3px;
	border:none;
	padding:14px 10px;
	line-height:1.5;
	font-weight:600;
	text-transform:uppercase;
	font-size:1.125em;
	outline:none
}

.btn-reportar{
	color:#fff;
	background:#65788a	
}

.btn-reportar:hover{
	background-color:#768a9d;
	color:#fff;
	text-decoration:none		
}

.btn-disabled{
	opacity:0.3;
	cursor:default	
}

.btn-disabled:hover{
	background:#65788a	
}

.btn-green{
	background-color:#1fb384;
	color: #fff!important;
}

.btn-green:hover{
	background-color:#25c995;
	text-decoration:none;
	color:#fff	
}

a.green{
	color:#1fb384;	
}

a.green:hover{
	color:#25c995;
	text-decoration:none	
}

.btn-social{
	text-transform:none;
	font-size:1em;
	font-weight:400;
	padding:8px 10px;
	margin-bottom:10px;
	color:#fff	
}

.btn-facebook{
	background-color:#3b5998;
}

.btn-facebook:hover{
	background-color:#496bb2;
}

.btn-twitter{
	background-color:#55acee;	
}

.btn-twitter:hover{
	background-color:#65bdff	
}

.btn-sky{
	background-color:#58bef7;
	color:#fff;	
}

.btn-sky:hover{
	background-color:#87cdf5;
}

.btn.small{
	padding:8px 10px;
}

.btn-intro{
	padding-left:42px;
	padding-right:42px;
	margin:0 10px
}

.btn-detalle{
	color:#fff;
	font-size:0.875em;
	float:right;
	background-color:#fc4349;
	border-radius:0;
	padding:9px 15px;	
}

.btn-detalle:hover{
	color:#fff;
	background-color:#fb5f65;
	text-decoration:none;
}

.btn-comentar{
	padding:6px 15px;
	font-size:0.9375em;
	float:left;
	margin-top:5px;
}

.btn-photo{
	/*background:#fafafa url(images/bg/icon-add-photo.png) no-repeat center center;*/
	border:#ebebeb solid 1px;
	padding:0;
	width:34px;
	height:34px;
	display:inline-block;
	float:left;
	margin:5px 0 0 10px;
}


/*LOGIN-------------------------------------------------------------------------*/
div.login{
	background:rgba(19,30,41,0.96);
}

div.login div.ir{
	padding:0;
	margin-bottom:20px	
}

*.no-account{
	margin-top:20px;
	padding:15px 0;
	border-top:#223241 solid 1px;
	/*text-align:center	*/
}

div.bloque-registro{
	/*display:none;	*/
}

div.checkbox-group input{
	height: inherit;
	margin: 4px 0 0;
	float: left;
	max-width: 4%;
}

div.checkbox-group label{
font-size: 1em;
}

div.social-buttons{
	border-bottom:#223241 solid 1px;
	padding-bottom:20px;
	margin-bottom:25px
}

div.checkbox{
	margin-top:-15px;
	margin-bottom:15px;
	font-size:0.9375em;
}

div.checkbox a{
	display:inline!important;
	background:none;
	padding:0!important;
	text-transform:none!important;
	color:#58bef7!important	
}

div.checkbox a:hover{
	color:#65bdff!important;	
}

/*div.scrolled-report, div.scrolled, div.scrolled-reportar{
	max-height: 100%;
    min-height: 600px;
    overflow: auto;
}

div.scrolled, div.scrolled-report, div.scrolled-reportar {
	overflow:auto;
	height:800px;
}

div.scrolled-report{
	padding-bottom:600px;
}*/


/*MEDIAQUERIES------------------------------------------------------------*/
@media (max-width: 967px) {
	/*INTRO*/
	div.c-intro{
		padding-left:20px;
		padding-right:20px;
	}
	
	div.c-intro p{
		width:auto		
	}
	
	div.step{
		float:none;
		margin:0 auto 4rem;		
	}
	
	div.c-buttons-intro{
		margin-top:3rem;		
	}

}

@media (max-width: 540px) {
	/*INTRO*/
	.btn-intro{
		float:none;
		margin:15px auto;
		clear:both;
		display:block;
		width:60%		
	}
	
	.footer{
		position:relative;
		height:auto;
		margin-top:40px		
	}
	
	body.intro{
		margin-bottom:25px		
	}
	
	
}

@media (max-width: 480px) {
	/*INTRO*/
	.btn-intro{
		width:100%		
	}
	
}


/*TOOLTIPS y PINS*/

.arrow_box {
	position: relative;
	background: #fff;
	border-radius:5px;

}
.arrow_box:after {
	right: 100%;
	top: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 10px;
	margin-top: -10px;
}

div.tool{
	display:inline-block;
}

div.tool div.it-r{
	background-color: inherit;
	cursor:default;
	padding:0;
	overflow:hidden;
	border-radius:5px;
	border-bottom:none;
	width: 250px !important;
	height: auto !important;
}

div.tool div.it-r-info{
	padding:20px 25px;	
}

div.tool-details{
	background-color:#fbfbfb;
	clear:both;
	border-top:#ebebeb solid 1px;
}

div.user-small{
	padding:7px 10px 7px 23px;
	float:left
}

div.tool-details img{
}

span.name{
	font-size:0.875em;
	color:#252525;
	font-style:italic;	
}

.btn-detalle span{
	display:block;
	width:5px;
	height:10px;
	float:right;
	background: url(images/bg/white-arrow.png) no-repeat left top;
	margin:5px 0 0 8px;
}

.tool h3{
	color:#a40301	
}

a.navbar-brand, li.reportar-small {
	display:none;	
}

.navbar-collapse{
	padding-left:0;
	padding-right:0;	
}




/*MEDIAQUERIES------------------------------------------------------------*/

/*@media (max-width: 1200px) {
	div.container-report{
		margin-left:0		
	}

	div.report{
		width:469px;
		border-radius:0;
		top:32.5%;
		margin-left:0;
		left:81px;
		-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transition:         all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	
	div.report-medium{
		left:183px;	
		-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transition:         all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	}
	
	div.report-medium-expand{
		left:603px;	
		-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transition:         all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
		
	}
	
	div.report-medium-con{
		left:501px;	
		-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transition:         all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
		
	}

}*/


@media (max-width: 967px) {
	
	/*INTRO*/
	div.c-intro{
		padding-left:20px;
		padding-right:20px;
	}
	
	div.c-intro p{
		width:auto		
	}
	
	div.step{
		float:none;
		margin:0 auto 4rem;		
	}
	
	div.c-buttons-intro{
		margin-top:3rem;		
	}
	
}

@media (max-width: 860px) {
	.navbar-toggle{
		display:block;
		float:left;
		background-color:#1e2e3d;
		border-radius:0;
		margin:20px 0 0 9px;
		position:absolute
	}
	
	.navbar-toggle .icon-bar{
		background-color:#fff;
		border-radius:0;
		width:40px;
		height:6px;
		margin-bottom:7px;
	}
	
	ul.help-info{
		position:relative;
		left:auto;
		bottom:auto;
		width:auto				
	}
	
	ul.help-info li a{
		text-indent:inherit!important		
	}
	
	nav.first-navigation:hover ul.help-info li a{
		padding-left:55px;!important
	}
	
	li.data a, li.my-society a, li.avina a{
		background-position:20px center;		
	}
	
	.navbar-brand{
		padding:0;
		width:32.5%; /* 208 / 640 */
		margin:2rem auto 0;
		float:none;
		display:block!important;
		height:70px;	
	}
	
	nav.first-navigation li.profile a{
		width:100%;
		height:100%;
		overflow:auto		
	}	
	
	nav.first-navigation li.profile a span{
		opacity:1;
		float:left;
		margin-top:4px;		
	}
	
	.navbar-collapse{
		background-color:#131e29;
		margin:0!important;
		padding:0 0 0 0!important;
		border-bottom:#495f73 solid 5px;
		max-height:none;
	}
	
	nav.first-navigation, nav.first-navigation:hover{
		width:100%;
		height:90px;
		padding-top:12px;
		padding:0
	}
	
	nav.first-navigation:hover{
		width:100%		
	}
	
	nav.first-navigation li a, ul.help-info li a{
		border-radius:0;
		display:block;
		width:100%
	}
	
	nav.first-navigation li a:hover, ul.help-info li a:hover{
		background-color:#2a3e51

	}
	
	nav.first-navigation li.home a{
		display:none;
	}
	
	li.reportar{
		display:none		
	}
	
	li.reportar-small{
		position: absolute;
		right: 23px;
		top: 19px;
		margin-top:0;
		text-indent:-9999em;
		display:block;
	}
	
	nav.first-navigation li.reportar-small a, nav.first-navigation:hover li.reportar-small a{
		width:65px;
		padding:15px 0 0 0!important;
		border-radius:5px;
		height:55px!important
	}
	
	nav.first-navigation li a, nav.first-navigation:hover li a{
		text-indent:inherit;
		padding:15px 25px 15px 61px;
		height:auto!important	
	}
	
	/*LISTADO DE REPORTES*/
	div.sub{
		opacity:1;
		width:100%;
		margin-top:80px;
		left:0;		
	}
	
	div.side-active{
		left:0		
	}
	
	/*DETALLE DE REPORTE*/
	div.container-report{
		margin-left:0px;		
	}
	
	div.report{
		width:100%;
		left:0;
		border-radius:0;
		top:0;
		margin-top:90px;
		margin-left:0
	}
	
	.container{
		padding-left:0;
		padding-right:0		
	}
	
}

@media (max-width: 540px) {
	/*INTRO*/
	.btn-intro{
		float:none;
		margin:15px auto;
		clear:both;
		display:block;
		width:60%		
	}
	
	.footer{
		position:relative;
		height:auto;
		margin-top:40px		
	}
	
	body.intro{
		margin-bottom:25px		
	}
	
	
}

@media (max-width: 480px) {
	/*INTRO*/
	.btn-intro{
		width:100%		
	}	
}
