[%# Assumes fixmystreet cobrand is using FMS map template - for bonus points preload all the right map elements. %]
[% map_js = BLOCK %]
<script>
if (geo_position_js.init()) {
    geo_position_js.getCurrentPosition(function(pos) {
        var latitude = pos.coords.latitude;
        var longitude = pos.coords.longitude;
        location.href = '/around?latitude=' + latitude + ';longitude=' + longitude;
    }, 
    function(err) {
        if (err.code == 1) { // User said no
            location.href = '/around?latitude=-34.906557;longitude=-56.199769';
        } else 
        setTimeout(function(){
            location.reload();
        }, 11000);
        /*if (err.code == 1) { // User said no
            $link.html(translation_strings.geolocation_declined);
        } else if (err.code == 2) { // No position
            $link.html(translation_strings.geolocation_no_position);
        } else if (err.code == 3) { // Too long
            $link.html(translation_strings.geolocation_no_result);
        } else { // Unknown
            $link.html(translation_strings.geolocation_unknown);
        }*/
    }, 
    {
        enableHighAccuracy: true,
        timeout: 10000
    });
}
</script>
[% END %]

[% pre_container_extra = PROCESS 'around/postcode_form.html' %]
[% INCLUDE 'header.html', title = '', bodyclass = 'frontpage fullwidthpage' %]

<div id="main-trobber">
<img src="ajax-loader.gif" />
</p>

[% IF error %]
    <p class="form-error">[% error %]</p>
[% END %]
