[%# Assumes fixmystreet cobrand is using FMS map template - for bonus points preload all the right map elements. %]
[% map_js = BLOCK %]
<script>
console.log('Empieza');
if (geo_position_js.init()) {
    console.log('Va a init');
    geo_position_js.getCurrentPosition(function(pos) {
        console.log('Get current');
        var latitude = pos.coords.latitude;
        var longitude = pos.coords.longitude;
        //Redirigimos si esta fuera de montevideo
        if (  -35 > latitude || latitude > -34.6695163)
            location.href = '/around?latitude=-34.906557;longitude=-56.199769';
        if (  -56.168270 > longitude || longitude < -56.4350581 )
            location.href = '/around?latitude=-34.906557;longitude=-56.199769';
        location.href = '/around?latitude=' + latitude + ';longitude=' + longitude;
    }, 
    function(err) {
        console.log('Entra a err');
        if (err.code == 1) { // User said no
            location.href = '/around?latitude=-34.906557;longitude=-56.199769';
        } 
        else { 
            
            /*if (err.code == 1) { // User said no
                $link.html(translation_strings.geolocation_declined);
            } else if (err.code == 2) { // No position
                $link.html(translation_strings.geolocation_no_position);
            } else if (err.code == 3) { // Too long
                $link.html(translation_strings.geolocation_no_result);
            } else { // Unknown
                $link.html(translation_strings.geolocation_unknown);
            }*/
        }
    }, 
    {
        enableHighAccuracy: true,
        timeout: 10000
    });
}

setTimeout(
    function(){
        var geoOverlay=document.createElement("DIV");
        geoOverlay.id = 'geoOverlay';
        geoOverlay.className = 'overlay';
        document.body.appendChild(geoOverlay);

        var overlayDiv=document.createElement("DIV");
        overlayDiv.id = 'geoOverDiv';
        overlayDiv.className = 'overlay-content';
        overlayDiv.innerHTML = '<h3>Necesitas más tiempo para leer las instrucciones?</h3><p>En caso de ya estar seguro has click en la barra superior del navegador para localizarte. Si no estás en Montevideo pero quieres ver la plataforma has click en AL MAPA el cual te dirigirá a la Plaza independencia, de lo contrario has click en CERRAR, para segiur leyendo la página actual.</p>';
        geoOverlay.appendChild(overlayDiv);

        var overlayClose=document.createElement("BUTTON");  
        overlayClose.id = 'overlay-close';
        overlayClose.onclick = function(){location.reload();};
        overlayClose.innerHTML = 'Cerrar';
        overlayDiv.appendChild(overlayClose);
        var gotoMap=document.createElement("BUTTON");
        gotoMap.id = 'goToMap';
        gotoMap.onclick = function(){location.href = '/around?latitude=-34.906557;longitude=-56.199769';};
        gotoMap.innerHTML = 'Al mapa';
        overlayDiv.appendChild(gotoMap);
    }
    , 15000);

</script>
[% END %]

[% pre_container_extra = PROCESS 'around/postcode_form.html' %]
[% INCLUDE 'header.html', title = '', bodyclass = 'intro' mainclass = 'intro' %]

<body class="intro">
    <div class="overlay-blue"></div>
        <!--MAIN CONTAINER-->
        <div class="container c-intro">
            <h1><img src="images/logo-intro.png" alt="Por mi Barrio"></h1>
            <h2 class="responsive" data-compression="10" data-min="14" data-max="40">Mejorando la ciudad, contigo.</h2>
            <p>Esta es una plataforma para hacer reclamos por roturas y problemas que veas en la ciudad junto a 
            vecinos y vecinas, manteniéndote al tanto del proceso de reparación. Lo llevamos adelante desde DATA 
            (una organización de la sociedad civil) usando la plataforma de servicios abiertos de la Intendencia 
            de Montevideo y con el apoyo del Defensor del Vecino.</p>
            <div class="steps">
                <div class="step step-one">
                    <img src="/cobrands/pormibarrio/images/intro-step-01.png" alt=""/>
                    <h3>1.Reportá un problema en el mapa ó 
                    sumate a uno ya creado.</h3>
                </div>
                <div class="step step-two">
                    <img src="/cobrands/pormibarrio/images/intro-step-02.png" alt=""/>
                    <h3>2. Por Mi Barrio lo ingresa al
                    Sistema Único de Reclamos de la IMM.</h3>
                </div>
                <div class="step step-three">
                    <img src="/cobrands/pormibarrio/images/intro-step-03.png" alt=""/>
                    <h3>3. Te enviamos información
                    sobre el progreso, hasta su solución.</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="c-buttons-intro">
                <a href="javascript:;" class="btn btn-reportar btn-intro">Como funciona</a>
                <a href="javascript:;" class="btn btn-green btn-intro">Comenzar ahora</a>
            </div>
        </div>
        <!--/main container-->

        <!--FOOTER-->
        <div class="footer"> 
            <img src="images/data.png" alt="DATA"/>     
            <a href="javascript:;" class="know-more">Conoce más sobre PorMiBarrio</a>
            <p class="photo-credit">Fotografía: Gonzalo Díaz Fornaro</p>
        </div>
        
        <!--end footer-->
        <!--SCRIPTS-->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/jquery.slimscroll.min.js"></script>
        <script src="js/jquery.responsiveText.js"></script>
        <script src="js/main.js"></script>

    [% IF error %]
        <p class="form-error">[% error %]</p>
    [% END %]
</body>